
    $white:#FFFFFF;
    $gray1:#F4F4F4;
    $gray2:#E0E0E0;
    $gray3:#C6C6C6;
    $gray4:#8D8D8D;
    $purple:#6C3BF6;
    $pink:#FF0E56;
    $green:#22B74E;
    $blue:#3C78FF;

body {
    background-color: $purple;
}